[submodule "Sources/secp256k1/secp256k1"]
	path = Sources/secp256k1/secp256k1
	url = https://github.com/bitcoin-core/secp256k1
[submodule "Sources/swift-crypto/swift-crypto"]
	path = Sources/swift-crypto/swift-crypto
	url = https://github.com/apple/swift-crypto
