[submodule "Submodules/secp256k1"]
	path = Submodules/secp256k1
	url = https://github.com/bitcoin-core/secp256k1
[submodule "Submodules/swift-crypto"]
	path = Submodules/swift-crypto
	url = https://github.com/apple/swift-crypto
[submodule "Submodules/secp256k1-zkp"]
	path = Submodules/secp256k1-zkp
	url = https://github.com/ElementsProject/secp256k1-zkp
