//
// Shared.xcconfig
//
// Native secp256k1 C test runner configuration
// Matches root Package.swift libsecp256k1 settings + VERIFY for tests
//

// Preprocessor Definitions
//
// Match root Package.swift libsecp256k1 configuration + VERIFY for tests

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) VERIFY=1 ECMULT_GEN_PREC_BITS=4 ECMULT_WINDOW_SIZE=15 ENABLE_MODULE_ECDH=1 ENABLE_MODULE_ELLSWIFT=1 ENABLE_MODULE_EXTRAKEYS=1 ENABLE_MODULE_MUSIG=1 ENABLE_MODULE_RECOVERY=1 ENABLE_MODULE_SCHNORRSIG=1



// Header Search Paths
//
// Paths to secp256k1 headers in Vendor directory

HEADER_SEARCH_PATHS = $(inherited) $(SRCROOT)/../Vendor/secp256k1 $(SRCROOT)/../Vendor/secp256k1/src $(SRCROOT)/../Vendor/secp256k1/include



// Product Bundle Identifier

PRODUCT_BUNDLE_IDENTIFIER = dev.21.libsecp256k1Tests



// Product Name

PRODUCT_NAME = $(TARGET_NAME)
