// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// SecurityTests Release Configuration

// Swift settings
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -O

// Enable testability for release testing
ENABLE_TESTABILITY = YES
