name: Linux tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        submodules: recursive
    - name: Check symbolic links
      run: |
        broken_links=$(find . -type d -name .build -prune -o -type l ! -exec test -e {} \; -print)
        if [ -n "$broken_links" ]; then
          echo "Broken symbolic links found:"
          echo "$broken_links"
          exit 1
        fi
    - name: Build the Docker zkp image
      run: docker build .